In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
pip install xlrd

Requirement already satisfied: xlrd in /srv/conda/envs/notebook/lib/python3.8/site-packages (2.0.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in /srv/conda/envs/notebook/lib/python3.8/site-packages (3.0.9)
Requirement already satisfied: et-xmlfile in /srv/conda/envs/notebook/lib/python3.8/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           cwurData.csv   pokemon.csv
antropometria00.csv        data.csv       reg_data.csv
antropometria-dataset.csv  headbrain.csv  sample_pivot.csv
Canada.xlsx                mic.xlsx       tips.csv
Cartwheeldata.csv          movies.csv     weight-height.csv

In [6]:
df=pd.read_excel( "datasets/Canada.xlsx",
               engine= "openpyxl",
               sheet_name= "Canada by Citizenship",
               skiprows= range(20),
                 skipfooter=2
                )
df.head()

,Type,Coverage,OdName,AREA,AreaName,REG,RegName,DEV,DevName,1980,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Immigrants,Foreigners,Afghanistan,935,Asia,5501,Southern Asia,902,Developing regions,16,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Immigrants,Foreigners,Albania,908,Europe,925,Southern Europe,901,Developed regions,1,...,1450,1223,856,702,560,716,561,539,620,603
2,Immigrants,Foreigners,Algeria,903,Africa,912,Northern Africa,902,Developing regions,80,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Immigrants,Foreigners,American Samoa,909,Oceania,957,Polynesia,902,Developing regions,0,...,0,0,1,0,0,0,0,0,0,0
4,Immigrants,Foreigners,Andorra,908,Europe,925,Southern Europe,901,Developed regions,0,...,0,0,1,1,0,0,0,0,1,1

In [7]:
df.columns #Para ver las columnas que hay en el archivo

Index([    'Type', 'Coverage',   'OdName',     'AREA', 'AreaName',      'REG',
        'RegName',      'DEV',  'DevName',       1980,       1981,       1982,
             1983,       1984,       1985,       1986,       1987,       1988,
             1989,       1990,       1991,       1992,       1993,       1994,
             1995,       1996,       1997,       1998,       1999,       2000,
             2001,       2002,       2003,       2004,       2005,       2006,
             2007,       2008,       2009,       2010,       2011,       2012,
             2013],
      dtype='object')

In [8]:
df.drop([ "DevName"],
       axis = 1, # 0 es filas y 1 es columnas 
       inplace = True #para remplazar el valor original en el dataset
      )
#este comando es para eliminar columnas, solo se puede correr una vez o marcará error.

In [9]:
df.columns
df.rename (columns ={"OdName" : "Country" , "AreaName" : "Continent" , "RegName" : "Region"}, #Renombrar las variables con otro nombre
           inplace = True #Solo se puede correr una vez

SyntaxError: unexpected EOF while parsing (3549041092.py, line 4)

In [ ]:
df.columns

# Description of Dataset

Write one or two sentences about, from where i got this dataset and, what represent this datasets

### My variables of interest 
Country - It represents....
etc
etc

In [ ]:
df.head()

In [ ]:
df.columns = list(map(str, df.columns)) #con este comando se transforman todas las columnas a String.
df. columns

In [ ]:
df.set_index("Country" , inplace = True)

In [ ]:
df.head()

In [18]:
df["Total"] = df.iloc[:, 2 :].sum(axis=1) #sumar todas las filas y dejar el resultado en el axis 1 o al final 
df.head(2)

,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
0,Southern Asia,16,39,39,47,71,340,496,741,828,...,3436,3009,2652,2111,1746,1758,2203,2635,2004,58623
1,Southern Europe,1,0,0,0,0,0,1,2,2,...,1223,856,702,560,716,561,539,620,603,15698

In [30]:
import matplot as mpl
import matplotlib.pyplot as plt

In [31]:

pip install matplot

Requirement already satisfied: matplot in /srv/conda/envs/notebook/lib/python3.8/site-packages (0.1.9)
Requirement already satisfied: matplotlib>=3.1.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplot) (3.2.1)
Requirement already satisfied: pyloco>=0.0.134 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplot) (0.0.139)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib>=3.1.1->matplot) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib>=3.1.1->matplot) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib>=3.1.1->matplot) (1.18.5)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib>=3.1.1->matplot) (2.8.1)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib>=3.1.1->matplot) (2.4.7)
Requirement already satisfied: typing in /srv/conda/envs/notebook/lib/python3.8/site-packages (from pyloco>=0.0.134->matplot) (3.7.4.3)
Requirement already satisfied: twine in /srv/conda/envs/notebook/lib/python3.8/site-packages (from pyloco>=0.0.134->matplot) (3.8.0)
Requirement already satisfied: ushlex in /srv/conda/envs/notebook/lib/python3.8/site-packages (from pyloco>=0.0.134->matplot) (0.99.1)
Requirement already satisfied: SimpleWebSocketServer in /srv/conda/envs/notebook/lib/python3.8/site-packages (from pyloco>=0.0.134->matplot) (0.1.1)
Requirement already satisfied: websocket-client in /srv/conda/envs/notebook/lib/python3.8/site-packages (from pyloco>=0.0.134->matplot) (1.2.3)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.8/site-packages (from cycler>=0.10->matplotlib>=3.1.1->matplot) (1.15.0)
Requirement already satisfied: importlib-metadata>=3.6 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (4.10.1)
Requirement already satisfied: colorama>=0.4.3 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (0.4.4)
Requirement already satisfied: requests>=2.20 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (2.27.1)
Requirement already satisfied: requests-toolbelt!=0.9.0,>=0.8.0 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (0.9.1)
Requirement already satisfied: urllib3>=1.26.0 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (1.26.8)
Requirement already satisfied: readme-renderer>=21.0 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (32.0)
Requirement already satisfied: tqdm>=4.14 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (4.63.0)
Requirement already satisfied: keyring>=15.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (23.5.0)
Requirement already satisfied: rfc3986>=1.4.0 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (2.0.0)
Requirement already satisfied: pkginfo>=1.8.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from twine->pyloco>=0.0.134->matplot) (1.8.2)
Requirement already satisfied: zipp>=0.5 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from importlib-metadata>=3.6->twine->pyloco>=0.0.134->matplot) (3.7.0)
Requirement already satisfied: jeepney>=0.4.2 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from keyring>=15.1->twine->pyloco>=0.0.134->matplot) (0.7.1)
Requirement already satisfied: SecretStorage>=3.2 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from keyring>=15.1->twine->pyloco>=0.0.134->matplot) (3.3.1)
Requirement already satisfied: Pygments>=2.5.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from readme-renderer>=21.0->twine->pyloco>=0.0.134->matplot) (2.11.2)
Requirement already satisfied: bleach>=2.1.0 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from readme-renderer>=21.0->twine->pyloco>=0.0.134->matplot) (4.1.0)
Requirement already satisfied: docutils>=0.13.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from readme-renderer>=21.0->twine->pyloco>=0.0.134->matplot) (0.18.1)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from requests>=2.20->twine->pyloco>=0.0.134->matplot) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from requests>=2.20->twine->pyloco>=0.0.134->matplot) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from requests>=2.20->twine->pyloco>=0.0.134->matplot) (2.0.10)
Requirement already satisfied: packaging in /srv/conda/envs/notebook/lib/python3.8/site-packages (from bleach>=2.1.0->readme-renderer>=21.0->twine->pyloco>=0.0.134->matplot) (21.3)
Requirement already satisfied: webencodings in /srv/conda/envs/notebook/lib/python3.8/site-packages (from bleach>=2.1.0->readme-renderer>=21.0->twine->pyloco>=0.0.134->matplot) (0.5.1)
Requirement already satisfied: cryptography>=2.0 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from SecretStorage>=3.2->keyring>=15.1->twine->pyloco>=0.0.134->matplot) (36.0.1)
Requirement already satisfied: cffi>=1.12 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from cryptography>=2.0->SecretStorage>=3.2->keyring>=15.1->twine->pyloco>=0.0.134->matplot) (1.15.0)
Requirement already satisfied: pycparser in /srv/conda/envs/notebook/lib/python3.8/site-packages (from cffi>=1.12->cryptography>=2.0->SecretStorage>=3.2->keyring>=15.1->twine->pyloco>=0.0.134->matplot) (2.21)
Note: you may need to restart the kernel to use updated packages.

In [32]:
pip install matplotlib

Requirement already satisfied: matplotlib in /srv/conda/envs/notebook/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.11 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib) (1.18.5)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.8/site-packages (from cycler>=0.10->matplotlib) (1.15.0)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
mpl.style.use("ggplot")

In [33]:
print(plt.style.available) #para ver que tipos de tablas y graficas podemos usar

['Solarize_Light2', '_classic_test_patch', 'bmh', 'classic', 'dark_background', 'fast', 'fivethirtyeight', 'ggplot', 'grayscale', 'seaborn', 'seaborn-bright', 'seaborn-colorblind', 'seaborn-dark', 'seaborn-dark-palette', 'seaborn-darkgrid', 'seaborn-deep', 'seaborn-muted', 'seaborn-notebook', 'seaborn-paper', 'seaborn-pastel', 'seaborn-poster', 'seaborn-talk', 'seaborn-ticks', 'seaborn-white', 'seaborn-whitegrid', 'tableau-colorblind10']

In [34]:
df.loc["Japan", "1980" : "2013"].plot()

KeyError: 'Japan'

In [35]:
ic_data = df.loc[["India" , "China"] , "1980 : 2013]

SyntaxError: EOL while scanning string literal (2920327068.py, line 1)

In [36]:
nic = ic_data.transpose()

NameError: name 'ic_data' is not defined

In [37]:
nic.plot() 
plt.xlabel("Years", fontsize = 17)
plt.xticks(fontsize = 17, rotation = 45)
plt.ylabel("Number of inmigrants", fontsize = 17)
plt.yticks(fontsize = 17)
plt.title("Inmigration to Canada from India and China during 1980 to 2013", fontsize =17)

NameError: name 'nic' is not defined

# Compare the inmigraation patter of top 5 countries

In [38]:
df.drop(["Type", "Coverage", "OdName", "AREA" , "AreaName", "REG", "DEV"],
        axis = 1,
        inplace = True 
       )

KeyError: "['Type' 'Coverage' 'OdName' 'AREA' 'AreaName' 'REG' 'DEV'] not found in axis"

In [12]:
df

,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,Southern Asia,16,39,39,47,71,340,496,741,828,...,2978,3436,3009,2652,2111,1746,1758,2203,2635,2004
1,Southern Europe,1,0,0,0,0,0,1,2,2,...,1450,1223,856,702,560,716,561,539,620,603
2,Northern Africa,80,67,71,69,63,44,69,132,242,...,3616,3626,4807,3623,4005,5393,4752,4325,3774,4331
3,Polynesia,0,1,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0
4,Southern Europe,0,0,0,0,0,0,2,0,0,...,0,0,1,1,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,South-Eastern Asia,1191,1829,2162,3404,7583,5907,2741,1406,1411,...,1816,1852,3153,2574,1784,2171,1942,1723,1731,2112
191,Northern Africa,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
192,Western Asia,1,2,1,6,0,18,7,12,7,...,124,161,140,122,133,128,211,160,174,217
193,Eastern Africa,11,17,11,7,16,9,15,23,44,...,56,91,77,71,64,60,102,69,46,59
194,Eastern Africa,72,114,102,44,32,29,43,68,99,...,1450,615,454,663,611,508,494,434,437,407

In [39]:
top = df.sort_values(["Total"], ascending = False , axis = 0)
top.head(5)

,RegName,1980,1981,1982,1983,1984,1985,1986,1987,1988,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,Total
79,Southern Asia,8880,8670,8147,7338,5704,4211,7150,10189,11522,...,36210,33848,28742,28261,29456,34235,27509,30933,33087,683024
36,Eastern Asia,5123,6682,3308,1863,1527,1816,1960,2643,2758,...,42584,33518,27642,30037,29622,30391,28502,33024,34129,654839
183,Northern Europe,22045,24796,20620,10015,10170,9564,9470,21337,27359,...,7258,7140,8216,8979,8876,8724,6204,6195,5827,529455
136,South-Eastern Asia,6051,5921,5249,4562,3801,3150,4166,7360,8639,...,18139,18400,19837,24887,28573,38617,36765,34315,29544,505340
130,Southern Asia,978,972,1201,900,668,514,691,1072,1334,...,14314,13127,10124,8994,7217,6811,7468,11227,12603,240622

In [40]:
x = top.transpose()
x

,79,36,183,136,130,185,81,162,140,137,...,91,188,150,179,3,123,149,109,191,131
RegName,Southern Asia,Eastern Asia,Northern Europe,South-Eastern Asia,Southern Asia,Northern America,Southern Asia,Southern Asia,Eastern Asia,Eastern Europe,...,Micronesia,Melanesia,Middle Africa,Polynesia,Polynesia,Melanesia,Southern Europe,Micronesia,Northern Africa,Micronesia
1980,8880,5123,22045,6051,978,9378,1172,185,1011,863,...,0,0,0,0,0,0,1,0,0,0
1981,8670,6682,24796,5921,972,10030,1429,371,1456,2930,...,0,0,0,1,1,0,0,0,0,0
1982,8147,3308,20620,5249,1201,9074,1822,290,1572,5881,...,0,0,0,0,0,0,0,0,0,0
1983,7338,1863,10015,4562,900,7100,1592,197,1081,4546,...,1,0,0,0,0,0,0,0,0,0
1984,5704,1527,10170,3801,668,6661,1977,1086,847,3588,...,0,0,0,1,0,0,0,0,0,0
1985,4211,1816,9564,3150,514,6543,1648,845,962,2819,...,0,0,0,0,0,0,0,0,0,0
1986,7150,1960,9470,4166,691,7074,1794,1838,1208,4808,...,0,0,0,0,0,0,1,0,0,0
1987,10189,2643,21337,7360,1072,7705,2989,4447,2338,6931,...,0,0,0,0,1,0,0,0,0,0
1988,11522,2758,27359,8639,1334,6469,3273,2779,2805,9211,...,0,0,0,1,0,0,0,0,0,0
1989,10343,4323,23795,11865,2261,6790,3781,2758,2979,16025,...,2,0,0,0,1,0,0,0,0,0
1990,12041,8076,31668,12509,2470,5892,3655,3525,2087,17040,...,0,1,0,0,2,0,1,0,0,0
1991,13734,14255,23380,12718,3079,6054,6250,7266,2598,16028,...,0,0,0,0,0,0,0,0,1,0
1992,13673,10846,34123,13670,4071,6842,6814,13102,3790,12145,...,0,4,0,1,0,0,0,0,0,0
1993,21496,9817,33720,20479,4777,7435,3959,9563,3819,6960,...,1,0,0,0,0,0,0,0,0,0
1994,18620,13128,39231,19532,4666,5901,2785,7150,3005,3550,...,0,0,0,0,0,0,0,0,0,0
1995,18489,14398,30145,15864,4994,4890,3956,9368,3501,2405,...,1,0,0,0,0,0,0,0,0,0
1996,23859,19415,29322,13692,9125,5515,6205,6484,3250,2136,...,1,0,0,0,0,0,0,0,0,0
1997,22268,20475,22965,11549,13073,4753,7982,5415,4093,1758,...,0,0,2,0,0,0,0,0,0,0
1998,17241,21049,10367,8735,9068,4437,7057,3566,4938,1488,...,2,0,0,0,0,0,0,0,0,0
1999,18974,30069,7045,9734,9979,5196,6208,4982,7108,1354,...,0,0,0,0,0,0,0,0,0,0
2000,28572,35529,8840,10763,15400,5433,5884,6081,7618,1471,...,1,0,1,0,0,0,0,0,0,0
2001,31223,36434,11728,13836,16708,5604,6169,5861,9619,1601,...,1,1,0,0,0,1,0,0,0,0
2002,31889,31961,8046,11707,15110,4948,8129,5279,7342,1447,...,0,0,0,0,0,0,0,0,0,0
2003,27155,36439,6797,12758,13205,5543,5918,4892,7117,1394,...,0,1,0,0,0,1,1,0,0,0
2004,28235,36619,7533,14004,13399,6990,6348,4495,5352,1533,...,0,1,1,2,0,0,0,0,0,0
2005,36210,42584,7258,18139,14314,8394,5837,4930,5832,1405,...,1,1,1,0,0,0,0,0,0,0
2006,33848,33518,7140,18400,13127,9613,7480,4714,6215,1263,...,0,1,1,0,1,0,0,0,1,0
2007,28742,27642,8216,19837,10124,9463,6974,4123,5920,1235,...,0,0,0,1,0,0,0,2,0,1
2008,28261,30037,8979,24887,8994,10190,6475,4756,7294,1267,...,1,0,0,0,0,1,0,0,0,0
2009,29456,29622,8876,28573,7217,8995,6580,4547,5874,1013,...,1,1,1,0,0,0,0,0,0,0
2010,34235,30391,8724,38617,6811,8142,7477,4422,5537,795,...,0,0,2,0,0,0,1,0,0,0
2011,27509,28502,6204,36765,7468,7676,7479,3309,4588,720,...,0,0,0,1,0,0,0,0,0,0
2012,30933,33024,6195,34315,11227,7891,7534,3338,5316,779,...,2,0,0,0,0,0,0,0,0,0
2013,33087,34129,5827,29544,12603,8501,11291,2394,4509,852,...,0,0,1,0,0,2,0,0,0,0
Total,683024,654839,529455,505340,240622,231744,174751,148173,141570,138378,...,15,11,10,8,6,5,4,2,2,1

In [41]:
x.plot()

TypeError: no numeric data to plot